$font-stack: -apple-system, BlinkMacSystemFont, "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
$color-text: #5a5a5a;


@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
}

body {
  font-family: $font-stack;

  // Bootstrap menu fix
  padding-top: 5rem;
  padding-bottom: 3rem;
  color: $color-text;
  
  #logo {
    width: 10rem;
  }
  .container {
    img {
      width: 20rem;
    }
  }
}
